* {
  font-family: Arial, Verdana, sans-serif;
  color: lightblue;
  }
html {
  height: 100%;
  width:100%;
}
h1 {
  font-family: 'DancingScriptRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 5em;
  color: white; 
  text-align: center; 
  background-color: rgba(1, 1, 21, 0.5); 
  border-radius: 10px;

}

li{
display: inline;
padding: 0.5em;
color: white; 
font-size: 20px; 
text-align: center; 
  background-color: rgba(1, 1, 21, 0.5); 
  border-radius: 10px;
}

#nav { background-color: transparent;
font-size: 25px;
text-align: center;
}
#footer {
background-color: transparent;
padding: 0.5em 0 0.5em 0;
text-align: center;
}

p {
  color: white; 
  font-size: 20px; 
  text-align: center; 
  background-color: rgba(1, 1, 21, 0.5); 
  border-radius: 10px;
}
#home {
  margin-top: 10%;
  text-align: center; 
  color: white;
  font-size: 25px;
  background-color: rgba(1, 1, 21, 0.5); 
  border-radius: 10px;

 
}
body { 
  background-image: url("sunset.jpg");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  
}
.about {
  color: white; 
 margin: 5%;
  font-size: 20px; 
  text-align: center; 
  background-color: rgba(1, 1, 21, 0.5); 
  border-radius: 10px;
}
.artifact {
  margin-left: 1%;
  border: 2px solid blue ;
  float: left;
  width: 60%;
  font-size:25px;
  padding-top: 1%;
  color: white;
  font-size: 20px; 
  text-align: center; 
  background-color: rgba(1, 1, 21, 0.5); 
  border-radius: 10px;
}
.resume {
  background-image: url("resume.png");
  background-repeat: no-repeat;
  height: 200px;
  width: 20%;
  float:left; 
  background-size: contain;
}
.chessboard {
  background-image: url("chessboard.png");
  background-repeat: no-repeat;
  height: 200px;
  width: 20%;
  float:left; 
  background-size: contain;
}
.clear {
  clear: both;
}
a {
  font-size: 20px;
  color: white;
}
}
fieldset {
  border-radius: 10px;
  border: 5px solid black ;
  text-align: center;
}
input {
  color:green;
}
#LegendPref {
  color:white;
  text-align: center;
}
.stylecheck {
  color:white;
  text-align: center;
}
#contact {
  color:white;
  text-align: center;
}
span {
  color:green;
  text-align: center;
}
.course {
  text-align: center;
}
#m {
  text-align: center;
}
#img {
  display: block;
  margin-left:25%;
  margin-right:auto;
}