* {
  font-family: Arial, Verdana, sans-serif;
  color:lightblue;
  text-align: center;
  font-size: 20px;
}
html {
  height: 100%;
  width:100%;
}
h1 {
  font-family: 'DancingScriptRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 5em;
  color: blue;
}



li {
  display: inline;
  padding: 0.5em;
  font-size: 20px;
}

#nav { background-color: transparent;
}
#footer {
  background-color: transparent;
  padding: 0.5em 0;
}

p {
  color:blue; 
  padding-top: 5%;
  font-size: 20px;
}
.about {
  color: white;
  padding-top: 5%;
  font-size: 20px;
}
body {
  background-image: url(fantasy.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
