* {
  font-family: Arial, Verdana, sans-serif;
  color: lightblue;
  text-align: center;
  }
html {
  height: 100%;
  width:100%;
}
h1 {
  font-family: 'DancingScriptRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 5em;
  color: blue;
}

li{
display: inline;
padding: 0.5em;
}

#nav { background-color: transparent;
font-size: 25px;
}
#footer {
background-color: transparent;
padding: 0.5em 0 0.5em 0;
}

p {padding-top: 10%;
  font-size: 25px;
  color:blue;  
}
#home {
  padding-top: 10%;
  color: white;
  font-size: 25px;
  
}
body { 
  background-image: url("sunset.jpg");
  background-repeat:no-repeat;
  background-size: 100% 100%;
}
