html, body{
margin: 0%;
}
#image {
  background-image: url("skyspacedarkgalaxy.jpg");
  }

#title {
  position:fixed;
  top:0px;
  left:0px; 
  padding: 1%;
  margin:0px;
  width:100%;
  text-align:center; 
  z-index:10; 
  background-color: #818480;
  border: 2px Solid yellow;
  font-family: 'SamysBookifiedTuffyRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size:40px;
}
.row {
  position:relative;
  margin-left:10%;
  margin-right:10%;
}
.clear {
clear:both;
}
.white {
  border: 1px solid black;
  width: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color:white;
  float:left;
  
}
div:empty {
 padding-left: 0%;
  padding-right: 0%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.black {
  border: 1px solid black;
  width: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color:#787878;
  float:left;
}
#container {
  margin-top:20%;
  margin-left:25%;
  margin-right:25%;
  margin-bottom:20%;
}
#footer {
  background-color: #818480;
  border: 2px Solid yellow;
  padding: 1%;
  width: 100%;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

