html, body{
margin: 0%;
}
body {
  background-image: url("skyspacedarkgalaxy.jpg");
  }
#title {
  position:fixed;
  top:0px;
  left:0px; 
  padding:10px;
  margin:0px;
  width:100%;
  text-align:center; 
  z-index:10; 
  background-color: #818480;
  border: 2px Solid yellow;
  font-family: 'SamysBookifiedTuffyRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size:40px;
}
.row {
  position:relative;
  margin-left:10%;
  margin-right:10%;
}
.clear {
  clear:both;
}
.white{
  border: 1px solid black;
  width: 10%;
  height: 60px;
  background-color:white;
  float:left;
  
}
.black {
  border: 1px solid black;
  width: 10%;
  height: 60px;
  background-color:#787878;
  float:left;
}
#container {
  margin-top:10%;
  margin-left:18%;
  margin-right:8%;
  margin-bottom:5%;
}
#footer {
  background-color: #818480;
  border: 2px Solid yellow;
  padding-top: 1%;
  width: 100%;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


